:root {
  --primary-color: #fdc166bb;
  --secondary-color: #e4a23f;
}

.Weather {
  border: 2px solid #000;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.136);
  padding-top: 30px;
  margin: 200px auto 0px;
}

.Weather .weather-info {
  padding: 20px 60px;
}

.Weather form {
  text-align: center;
}

.Weather .form-input {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 20px;
  margin-right: 5px;
  color: rgba(70, 70, 70, 0.819);
}

.Weather .search-button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 20px;
  transition: all 250ms ease-in-out;
}

.Weather .search-button:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 8px 20px;
}

.Weather h1 {
  background: var(--primary-color);
  padding: 10px 40px;
  font-size: 30px;
  margin: 30px 0;
}

.Weather .general-info {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

.Weather canvas {
  position: relative;
  top: 15px;
}

.Weather .temperature {
  font-size: 60px;
  margin-left: 20px;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -28px;
}

.Weather .weather-data {
  list-style: none;
  padding: 20px 80px;
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background: var(--primary-color);
}

.Weather .divider {
  border-left: 1px solid rgba(70, 70, 70, 0.819);
  height: 70px;
}

@media (max-width: 770px) {
  .Weather {
    margin: 70px auto 0px;
  }

  .Weather .weather-data {
    padding: 20px;
  }
}
