.WeatherForecast {
  text-align: center;
  margin-top: 10px;
  padding: 0 20px;
}

.WeatherForecast .forecast-day-container {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 0;
}

.WeatherForecast .forecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast .forecast-day-container {
  margin-bottom: 25px;
}
