.WeatherForecast {
  text-align: center;
}

.WeatherForecast .forecast-day-container {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 20px 20px;
}

.WeatherForecast .forecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
